Thumbs.db
*.tgz
*.zip
*.phar
*.log
vendor/
composer.lock
.idea/
.phpunit.result.cache
Dockerfiles/base/Dockerfile.*
Dockerfiles/base/Dockerfile-*.*
Dockerfiles/mods/Dockerfile.*
Dockerfiles/prod/Dockerfile.*
Dockerfiles/work/Dockerfile.*
report/
