{
    "main": "bin/toolkit.php",
    "stub": "stub.php",
    "alias": "toolkit.phar",
    "directories": ["bin", "config", "src", "vendor"],
    "files-bin": ["sbom.json", "console.txt"],
    "map": [
        { "console.txt": ".box.manifests/console.txt" },
        { "sbom.json": ".box.manifests/sbom.json" }
    ],
    "blacklist": ["bin/devkit.phar"],
    "compression": "GZ"
}
